@font-face {
    font-family: "Red Hat";
    src: url(assets/fonts/RedHatDisplay-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(225, 100%, 94%);
    font-family: "Red Hat";
}

.container{
    width: 22em;
    height: 35em;
    border-radius: 1.3em;
    background-color: white;
    text-align: center;
}

#img-dance{
    width: 100%;
    height: 31%;
    border-radius: 1.3em 1.3em 0em 0em;
    margin-bottom: 1em;
}

h1{
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

#desc{
    padding: 1.3em;
}

p, .cont-pay{
    margin-top: 0.3em;
}
p{
    color: hsl(224, 23%, 55%);
}

button{
    margin-top: 1em;
    border: none;
    padding: 1em;
    color: white;
    font-weight: bold;
}

.cont-pay{
    width: 70%;
    height: 13%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pay-button{
    width: 70%;
    border-radius: 1em;
    background-color: hsl(245, 75%, 52%);
}

#cancel-button{
    width: 70%;
    color: hsl(224, 23%, 55%);
}

a:hover, #pay-button:hover, #cancel-button:hover{
    cursor: pointer;
}